{% extends "base.html" %}


{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='dist/blog.css')}}">
<title>Blog</title>
{% endblock %}


{% block nav_title %}Blog{% endblock %}

{% block nav_leading %}
	<a href="/projects">
		<i class="fa-solid fa-file"></i>
	</a>
{% endblock %}

{% block nav_trailing %}
	<a href="/projects">
		<i class="fa-solid fa-file"></i>
	</a>

	<a href="/blog">
		<i class="fa-sharp fa-solid fa-pen-nib"></i>
	</a>
{% endblock %}


{% block body %}
	{% for post in posts %}
	<div class="postItem">
		<p class="headline">{{ post.title }}</p>
		{% for tag in post.tags.split("|") %}
			<div class="tagRow">
				<p>{{ tag }}</p>
			</div>
		{% endfor %}
		<p class="timing">{{ post.get_time() }}</p>
		<p class="subContent">{{ post.content[:20] }}...</p>
		<!-- <a href="#">More...</a>  -->
	</div>
	{% endfor %}

{% endblock %}

