{% extends "base.html" %}


{% block head %}
	<link rel="stylesheet" href="{{ url_for('static', filename='dist/post.css')}}">


	<script>
		// Add markdown value to a javascript varialbe
		var markdownData = {{ post.content|tojson }};
	</script>

	<!--
	<script src="https://cdn.jsdelivr.net/npm/render-gfm@2.1.0/index.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
	-->


	<!-- Markdown Parsing -->
	<script src="https://cdn.jsdelivr.net/npm/marked/lib/marked.umd.js"></script>
	<!-- Code Highlighting -->
	<script src="https://cdn.jsdelivr.net/npm/marked-highlight/lib/index.umd.js"></script>
	<link rel="stylesheet" href="https://unpkg.com/@highlightjs/cdn-assets@11.8.0/styles/a11y-dark.min.css"/> <!-- https://unpkg.com/browse/@highlightjs/cdn-assets@11.8.0/styles/ -->
	<script src="https://unpkg.com/@highlightjs/cdn-assets@11.8.0/highlight.min.js"></script> 
	<!-- Sanitize HTML Output -->
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/dompurify@3.0.5/dist/purify.min.js"></script>

	<script src="{{ url_for('static', filename='dist/blog_post.js')}}" defer></script>

	<title>Post</title>
{% endblock %}


{% block nav_title %}Post{% endblock %}

{% block nav_leading %}
	<a href="/blog">
		<i class="fa-solid fa-chevron-left"></i>
	</a>
{% endblock %}

{% block nav_trailing %}
	<a href="/projects">
		<i class="fa-solid fa-file"></i>
	</a>

	<a href="/blog">
		<i class="fa-sharp fa-solid fa-pen-nib"></i>
	</a>
{% endblock %}


{% block body %}
	<h1>{{ post.title }}</h1>
	<h6>{{ post.get_time() }}</h6>
	<br>
	<p id="marked">{{ post.content }}</p>


{% endblock %}


