{% extends "base.html" %}


{% block head %}

	<script>
		// Add markdown value to a javascript varialbe
		var markdownData = {{ post.content|tojson }};
	</script>

	<!-- Markdown Parsing -->
	<script src="https://cdn.jsdelivr.net/npm/marked/lib/marked.umd.js"></script>
	<!-- Code Highlighting -->
	<link rel="stylesheet" href="https://unpkg.com/@highlightjs/cdn-assets@11.8.0/styles/a11y-dark.min.css"/> <!-- https://unpkg.com/browse/@highlightjs/cdn-assets@11.8.0/styles/ -->
	<link rel="stylesheet" href="https://unpkg.com/@highlightjs/cdn-assets@11.8.0/styles/atom-one-dark.min.css"/> <!-- https://unpkg.com/browse/@highlightjs/cdn-assets@11.8.0/styles/ -->
	<!-- <link rel="stylesheet" href="https://unpkg.com/@highlightjs/cdn-assets@11.8.0/styles/atom-one-dark-reasonable.min.css"/> -->
	<script src="https://unpkg.com/@highlightjs/cdn-assets@11.8.0/highlight.min.js"></script> 

	<!-- Sanitize HTML Output -->
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/dompurify@3.0.5/dist/purify.min.js"></script>

	<script async type="module" src="{{ url_for('static', filename='dist/blog_post.js')}}" defer></script>
	<title>Post</title>


	<link rel="stylesheet" href="{{ url_for('static', filename='dist/post.css')}}">
{% endblock %}


{% block nav_title %}Post{% endblock %}

{% block nav_leading %}
	<a href="/blog">
		<i class="fa-solid fa-chevron-left"></i>
	</a>
{% endblock %}

{% block nav_trailing %}
	<a href="/projects">
		<i class="fa-solid fa-file"></i>
	</a>

	<a href="/blog">
		<i class="fa-sharp fa-solid fa-pen-nib"></i>
	</a>
{% endblock %}


{% block body %}
	<h1>{{ post.title }}</h1>
	<h6>{{ post.get_time() }}</h6>
	<br>
	<p id="marked">LOADING...</p>


{% endblock %}


