{% extends "base.html" %}

{% block head %}
<title>INDEX</title>
{% endblock %}


{% block nav_title %}Projects{% endblock %}

{% block nav_leading %}
{% endblock %}

{% block nav_trailing %}
	<!--<a href="#">
		<i class="fa-solid fa-search"></i>
	</a>-->

	<a href="/projects">
		<i class="fa-solid fa-file"></i>
	</a>

	<a href="/blog">
		<i class="fa-sharp fa-solid fa-pen-nib"></i>
	</a>
{% endblock %}


{% block body %}
	{% for i in range(100) %}
		<h1>Ekko</h1>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae ad a eos et saepe in voluptates sed quia distinctio est necessitatibus at sequi officia voluptatem suscipit accusantium veniam, incidunt dolores.</p>
		<a href="#">More...</a>
		<div class="gap" style="height: 12px"></div>

		<h1>Expitrom</h1>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae ad a eos et saepe in voluptates sed quia distinctio est necessitatibus at sequi officia voluptatem suscipit accusantium veniam, incidunt dolores.</p>
		<a href="#">More...</a>
		<div class="gap" style="height: 12px"></div>

		<h1>WSP</h1>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae ad a eos et saepe in voluptates sed quia distinctio est necessitatibus at sequi officia voluptatem suscipit accusantium veniam, incidunt dolores.</p>
		<a href="#">More...</a>
		<div class="gap" style="height: 12px"></div>
	{% endfor %}
{% endblock %}

